@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.float-animation {
    animation: float 2.5s ease-in-out infinite;
}

.float-animation:hover {
    animation-play-state: paused;
}

.scrollbar-hide {
    padding-bottom: 10px;
}

@media (min-width: 900px) {
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}