@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.float-animation {
    animation: float 2.5s ease-in-out infinite;
}

.float-animation:hover {
    animation-play-state: paused;
}

.scrollbar-hide {
    padding-bottom: 10px;
}

@media (min-width: 900px) {
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}

@keyframes chatbotText {
    0% {
        opacity: 0;
        transform: translateX(25px);
    }

    20% {
        opacity: 1;
        transform: translateX(0);
    }

    70% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(25px);
    }
}

@media (max-width: 767px) {
    .chatbot-text-animation {
        animation: chatbotText 5s ease-in-out infinite;
    }
}